@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

:root {
    --white: white;
    --blue:  rgba(46,114,225,0.7);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
}

body {
    background-size: cover;
    background: url("images/background.jpg") top left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: Oswald, sans-serif;
    padding: 25px;
}

button {
    font-family: Oswald, sans-serif;
    font-weight: 500;
    font-size: 18px;
}


.buttons-container {
    display: flex;
    flex-flow: column;
    background: rgba(46, 114, 225, 0.7);
    margin-right: 50px;
    height: 40vh;
    padding: 20px;
    border-radius: 20px;
    justify-content: space-around;
    align-items: center;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 11px 17px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -7px #000000, 9px 11px 17px 3px rgba(0,0,0,0.15);
}
.grid-button {
    padding: 10px;
    margin: 10px;
    width: 150px;
    background: transparent;
    border: var(--white) solid 4px;
    border-radius: 10px;
    color: var(--white);
    user-select: none;
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 9px 11px 17px 3px rgba(0,0,0,0.15);
    box-shadow: 0px 10px 13px -7px #000000, 9px 11px 17px 3px rgba(0,0,0,0.15);
    transition: all 0.15s;
}

.grid-button:active {
    background: white;
    color: var(--blue);
    box-shadow: none;
    width: 145px;
}

.active {
    background: white;
    color: var(--blue);
}

.grid-button:hover {
    cursor: pointer;
}

.grid-container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    gap: 0;
    border: rgba(46, 114, 225, 0.7) solid 20px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.5);
}

.range-container {
    color: var(--white);
    text-align: center;
}

.grid-block {
    width: 6%;
    height: 6%;
    border: 1px solid rgba(46, 114, 225, 0.7);
    user-select: none;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 200px;
    height: 12px;
    border-radius: 10px;
    opacity: 1;
    background: var(--white);
    cursor: pointer;
}


input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    background: transparent;
    width: 80px;
    height: 80px;
    border: none;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

h4 {
    font-size: 20px;
    text-transform: capitalize;
    text-shadow: 2px 2px 2px #474747, 2px 2px 0px rgba(206,89,55,0.12);
}

.slider::-webkit-slider-thumb  {
    appearance: none;
    width: 25px;
    height: 25px;
    background: pink;
    border-radius: 50%;
}

.slider:hover {
    opacity: 0.8;
}

@media screen and (max-width: 850px) {

    body {
        flex-flow: column;
        flex-direction: column-reverse;
        gap: 2vh;
    }

    .buttons-container {
        margin: 0;
    }

}

@media screen and (max-width: 550px) {

    .grid-container {
        width: 90vw;
        height: 90vw;
    }


}